/* HINT: Remember to consider the box model! */
#wrapper{

}

p{

}

.red{
    display: block;
    text-align: center;
    line-height: 100px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: courier, courier new;
    font-variant: small-caps;
    background-color: red;
    height: 100px;
    width: 100px;
    border: 10px solid black;
    padding: auto;
    margin: 100px 20px;
    float: left;
  }

.green{
    display: block;
    text-align: center;
    line-height: 100px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: courier, courier new;
    font-variant: small-caps;
    background-color: green;
    height: 100px;
    width: 100px;
    border: 10px solid black;
    padding: auto;
    margin: 100px 20px;
    float: left;
}

.blue{
    display: block;
    text-align: center;
    line-height: 100px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: courier, courier new;
    font-variant: small-caps;
    background-color: blue;
    height: 100px;
    width: 100px;
    border: 10px solid black;
    padding: auto;
    margin: 100px 20px;
    float: left;
}
