body{
  background-image:url(../images/background.jpg);
  background-size: cover;
}
.box{
  width: 550px;
  background: rgba(0, 0, 0, 0.5);
  padding: 60px;
  text-align: center;
  margin: auto;
  color: white;
  font-family: sans-serif; helvetica; times new roman;
}
.boxpicture{
  border-radius: 75%;
  width: 250px;
  height: 250px;
}
.box h1{
  font-size: 45px;
  letter-spacing: 2px;
  font-weight: 200;
}
.box h3{
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: 125;
}
.box p{
  text-align: center;
  letter-spacing: 1px;
}
.box li{
  display: inline-block;
  font-weight: bold;
  margin: 20px;
}
